# WiFi
CONFIG_WIFI_SSID="Ricker"
CONFIG_WIFI_PASSWORD="104Ricker"
CONFIG_WIFI_MAX_RETRY=10

# HTTP server
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=256

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3
